body {
  background: #e4dfdf;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: var(--fancy-blue-color);
  margin: auto;
}

.title {
  background: var(--fancy-blue-color);
  padding: 20px;
  border: 10px solid rgb(255, 255, 255);
  font-weight: 700;
}

.content {
  background: #22628d;
  border-left:  10px solid #ffffff;
  border-right:  10px solid #ffffff;
  padding: 10px;
}

.button-container {
  background: #92b4ca;
  border: 10px solid #fffdfd;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
}

